body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
  font-size: 15px;
  color: #161c2d;
}
.App {
  text-align: center;
  background-color: #fff;/*f7f7f7;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/**
* THE REAL DEAL
*/

.projects-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 10px;
}
.card {
  border: 1px solid #ababab94;
  width: calc(25% - 38px);
  height: 470px;
  background-color: white;
  min-width: 300px;
  max-width: 500px;
  margin: 8px;
  flex-grow: 1;

  text-align: justify;
  
  overflow: hidden;
  position: relative;
}

.card .main-card img{
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.card .card-header {
  padding: 4px;
  background: white;
  margin-bottom: 4px;
}
.main-card .card-header {
  margin-top: -4px;
}

.main-card .card-footer {
  position: absolute;
  bottom: 0;
  height: 26px;
  width: calc(100% + 8px);
  text-align: center;
  line-height: 26px;
  background: #2e3e4e;
  color: white;
  border-radius: 10px;
  left: -4px;
}
.main-card .card-footer span {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.main-card .card-footer svg {
  font-size: 20px;
  height: 20px;
  vertical-align: -0.205em;
}

.card .card-header .card-title{
  font-size: large;
  font-weight: bolder;
  color: #4e96ab;
  text-align: left;
  display: inline-block;


  display: inline-block;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: 1px;
  color: #2e3e4e !important;
  font-weight: 900;
  text-align: center;
}

.main-card .card-title{
  width: 100%;
}
.hidden-card .card-title{
  width: calc(100% - 20px);
}

.card .card-header img{
  width: 20px;
  height: 20px;
}
.card .main-card .card-description{
  padding: 4px;
}

.hidden-card {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 0%;
  height: 100%;
  transition: .5s ease;
}

.hidden-card.slideup{
  width: 100%;
}

.card-content{
  height: 75%;
}
.hidden-card .card-header svg{
  color: #2e3e4e;
  height: 20px;
  vertical-align: -0.135em;
  font-size: 20px;
}

.hidden-card .card-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 12px);
  border-top: 1px solid #dde6e8;
  padding: 6px;
  text-align: center;
  background: #2e3e4e;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-footer img{
  height: calc(100% - 12px);
  padding: 6px;
}

.card{
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;

  margin: 18px;
}


.card-action {
  width: 55.5px;
  height: 55.5px;
  margin-right: 20px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: all 0.3s ease-out;
  line-height: 60px;
  border-radius: 50%;
  background-color: white !important;
}


.card-action svg{
  font-size: 32px;
  width: inherit !important;
  color: #2e3e4e;
  line-height: 55.5px;
  height: 39.5px;
  margin-top: 8px;
}


/* Tooltip text */
.card-action .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #2e3e4e;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  line-height: 20px;
  position: absolute;
  top: -36px;
  margin-left: -30px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.card-action:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2e3e4e transparent transparent transparent;
}


.container2{
  padding-top: 10px;
}
.area{
  padding-top: 4px;
  text-align: justify;
  padding-bottom: 3rem!important;
}
.area-title{
  padding: 10px 10px;
  color: white;
  text-align: left;
  font-weight: 700;
  font-size: 25px;
}
.area-content{
  padding: 0px 10px;
  color: #707070 !important;
  text-align: center;
  padding: 0px 20px;
}